.portfolio__container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    gap: 5rem;

}

.image {
    
    border-radius: 1rem;
    overflow: hidden;
}


.thumbs-wrapper {  
    border: 3px solid transparent;
    border-color: var(--color-primary-variant);
    border-radius: 2rem;
    width: fit-content; /* cuts off the pesky extra padding */
    height:fit-content;
    position: relative;
   

 
}



.thumbs-wrapper .portfolio__item2 .portfolio__item-cta a {
    color: var(--color-variant);
    border: 1px solid var(--color-primary-variant);
}


.portfolio__item {
    
    
    border-radius: 1.2rem;
    transition: var(--transition);
    margin: .5rem;
    position: relative;
    overflow: hidden;
    width: 330px;
    height: 470px;
    
    
}

.portfolio__item2 {
    
    
    border-radius: 1.2rem;
    transition: var(--transition);
    margin: .5rem;
    position: relative;
    overflow: hidden;
    width: 330px;
    height: 360px;
    background-color: white; 

}

.portfolio__item3 {
    
    
    border-radius: 1.2rem;
    transition: var(--transition);
    margin: .5rem;
    position: relative;
    overflow: hidden;
    width: 490px;
    height: 360px;
    background-color: #F2F2F2;

}


.arrow_next {
    position: absolute;
    top: 45%;
    right: 5%;

    cursor: pointer;
    z-index: 10;
    border-radius: 3rem;
    background-color: white;
}


.arrow_prev {
    position: absolute;
    top: 45%;
    left: 5%;
    cursor: pointer;
    z-index: 10;
    border-radius: 3rem;
    background-color: white;
}



.portfolio__item h3 {
    margin: 1rem 0.5rem;

    color: var(--color-primary);;
}

.portfolio__item2 h3 {
    margin: 1rem 0.5rem;

    color: var(--color-variant);



}

.portfolio__item3 h3 {
    margin: 1rem 1rem -0.3rem 3.8rem;

    color: var(--color-variant);
    position:relative;
}

.small_text {
    display: block;
    text-align: center;
    margin-top: -3.2rem;
    margin-bottom: 1.5rem;
    color: var(--color-primary);
    
}

.portfolio__item-cta {
  position: absolute;
  bottom: 0;
  z-index: 3;
  padding-bottom: 1rem;
  left: 6.5rem
  
}


@media screen and (max-width: 1024px){
    .portfolio__container{
         display: grid;
         grid-template-columns: 310px 310px;
         justify-content: center;
         gap: 5rem;
                
    }

    .thumbs-wrapper {  
        border: 3px solid transparent;
        border-color: var(--color-primary-variant);
        border-radius: 2rem;
        width: fit-content; /* cuts off the pesky extra padding */
        height:fit-content;
        position: relative;
    }

    .portfolio__item {
    
    
        border-radius: 1.2rem;
        transition: var(--transition);
        position: relative;
        overflow: hidden;
        width: 330px;
        height: 470px;
    }

    .portfolio__item3 {
    
    
        margin: .5rem;
        margin-left: 10rem;
        margin-right: 10rem;
        position: relative;
        overflow: hidden;
        width: 490px;
        height: 360px;
        background-color: #F2F2F2;
    }
}

@media screen and (max-width: 790px){
    .portfolio__container{
        grid-template-columns: 1fr;
         display: grid;
         place-items: center;
         margin: auto;
    }
}