.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    height: 70vh;
  

}


.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: var(--color-primary);
    display: grid;
    place-items: center;
    overflow: hidden;
    transition: var(--transition);
}

.about__me-image {
    border-radius: 2rem;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}

.about__me:hover {
    transform: rotate(10deg);
}

.about__cards {


    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    display: grid;
}

.about__card h5 {
    color: var(--color-bg);
}

.about__card {
    background-color: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    height: 170px;
}



.about__card:hover {
   translate: 0px -5px ;
   
}

.about__icon {
    color: var(--color-bg);
    font-size: 1.4rem;
    margin-bottom: 0.95rem;
}

.about__card small {
    font-size: 0.8rem;
    color: var(--color-bg);
    
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}


.shape3D_about {
    position:absolute;
    top: 1200px;
    width: 450px;
    right: -50px;
    -webkit-transform: scale(-1);
    transform: scale(-1);
}


/*********MEDIA QUEIRES (medium)*/
@media screen and (max-width: 1024px) {

    .about__container {
        height: 45vh;
    }


    .about__me {
        width: 100%;
        background: var(--color-primary);
        display: grid;
        place-items: center;
        overflow: hidden;
        transition: var(--transition);
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
    
    .shape3D_about {
        position:absolute;
        top: 1250px;
        width: 400px;
        right: -50px;
        -webkit-transform: scale(-1);
        transform: scale(-1);
    }
   
}

@media screen and (max-width: 1163px) {
    .shape3D_about {
        display: none;
    }
}

/*********MEDIA QUEIRES (small)*/
@media screen and (max-width: 500px) {


    
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
        height: 85vh;
        bottom: 0px;
        display: block;
    }

    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
      
        
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: left;
        font-size: 90%;
        max-width: 400px;
    }

    .about__content p {
        margin: 1.5rem 0rem;
    }

    .shape3D_about {
        position:absolute;
        top: 1400px;
        width: 400px;
        right: -0px;
        -webkit-transform: scale(-1);
        transform: scale(-1);
        display: none;
  
    }
}