footer {
    background-color: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: var(--color-bg);
}



.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}


.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    tab-size: 5cm;
    margin-bottom: 4rem;
}

.footer__socials a {
   
    border: 1px solid transparent;
    padding: 0.5rem;
    font-size: 500;    
    color: var(--color-bg);
    border-radius: 0.7rem;


}